<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empDept" class="asr.autowire.entity.Departments">
		<property name="deptId" value="01" />
		<property name="deptName" value="Human Resource" />
	</bean>

	<bean id="empAddress" class="asr.autowire.entity.Address">
		<property name="district" value="Jaipur"/>
		<property name="state" value="Rajasthan"/>
		<property name="pinCode" value="302012"/>
	</bean>
	
	<bean id="Employee" class="asr.autowire.entity.Employees" autowire="byName">
		<property name="empId" value="101"/>
		<property name="empName" value="Anish"/>
	</bean>

</beans> 